<settings>
	<setting propertyKey="@Properties.C" title="@Strings.ALERT">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.D" title="@Strings.VIBRATE">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.F" title="@Strings.SHOW_COLORS">
		<settingConfig type="list">
			<listEntry value="1">@Strings.SHOW_COLORS_1</listEntry>
			<listEntry value="2">@Strings.SHOW_COLORS_2</listEntry>
			<listEntry value="3">@Strings.SHOW_COLORS_3</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.G" title="@Strings.ALERT_DELAY">
		<settingConfig type="numeric" />
	</setting>
	<setting propertyKey="@Properties.H" title="@Strings.MAX_ALERTS">
		<settingConfig type="numeric" />
	</setting>
	<setting propertyKey="@Properties.I" title="@Strings.USE_CUSTOM_FONTS">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.J" title="@Strings.USE_SPEED">
		<settingConfig type="boolean" />
	</setting>
</settings>